* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(to right, #ffffff, #eeeded, #def1f9);
    /* background: linear-gradient(to right, #000000, #0c0c0c, #353636); */
    /* transition: 1s linear; */
    /* color: #FFFFFF; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 0;
    background: linear-gradient(to right, #8b3e3e, #ad7a65, #1a404a);
    color: #FFFFFF;
    max-height: 80px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* nav .left img {
    cursor: pointer;
    padding: 5px;
} */

nav .left h2 {
    font-size: 40px;
    cursor: pointer;
    text-shadow: 5px 10px 5px #1a404a;
    transition: 1s linear;
}

nav .left a {
    text-decoration: none;
    color: #FFFFFF;
}

nav .left h2:hover {
    scale: 1.2;
}

nav .right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav .right ul li {
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s linear;
}


nav .right ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.5s linear;
}

nav .right ul li a.active {

    padding: 5px 15px;
    background: linear-gradient(120deg, #de6856, #d77158, #df6a89);
    border-radius: 15px;
    border: none;
    outline: none;
}

nav .right ul li a:hover {
    font-size: 50px;
    color: #d3b09f;
    background-color: transparent;
    background: transparent;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 1s linear;
    height: 100vh;
}



.hero h1 {
    font-size: 70px;
    font-weight: 900;
    color: #208590;
}

.hero p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.hero p span {
    font-size: 25px;
    font-weight: 500;
    color: #eb591a;
}

.hero .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero .hero-btns button {
    border: none;
    outline: none;
    padding: 20px 80px;
    background-color: #000000;
    color: #000000;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
    transition: 0.5s linear;
}

.hero .hero-btns button.signup-btn {
    background: linear-gradient(120deg, #ed7756, #e9ab3f, #ff6a00);
}

.hero .hero-btns button.login-btn {
    background: linear-gradient(120deg, #4e7f5f, #3fe9e1, #2469ca);
}

.hero .hero-btns button:hover {
    transform: matrix(1.05, 0, 0, 1.05, 0, -5);
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.4);
}



/*   ----------------------------  About Page ----------------------------   */

.about_heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_heading h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #a96a44;
}

.about_heading img {
    position: relative;
    height: 70px;
    width: 70px;
    transform: translateY(-15px);
}

.about_description {
    margin: 15px;
    text-align: center;
}

.about_description p {
    font-size: 18px;
}

.about_description p span {
    color: #a96a44;
    font-size: 25px;
    font-weight: bold;
}

.taskAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.about_content h4 {
    font-size: 25px;

}

.about_content p {
    font-size: 16px;
    margin-left: 50px;
}

.about_content p span {
    font-weight: bold;
}

.about_sub_heading {
    margin: 20px;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(circle, #ffffff, #96cfe2, #083d4b);
    background-size: 200% 200%;
    animation: moveGraident 40s ease-in-out infinite;
}

.signup_box {
    display: flex;
    justify-content: space-between;
    /* background-color: transparent; */
    color: #FFFFFF;
    padding: 20px;
    height: 90vh;
    width: 80vw;
    overflow: auto;
    border-radius: 10px;
    /* box-shadow:2px 2px 2px  rgba(0, 0, 0, 0.4) */
}

.signup_box::-webkit-scrollbar {
    display: none;
}

.signup_box .left {
    background-color: #000000;
    height: 80vh;
    width: 50vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 10px;
    box-shadow:2px 2px 2px  rgba(0, 0, 0, 0.4)
}

.signup_box .right {
    background-color: #ffffff;
    height: 80vh;
    width: 50vw;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow:2px 2px 2px  rgba(0, 0, 0, 0.4)
}

@keyframes moveGraident {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 200% 200%;

    }
    75% {
        background-position: 100% 100%;

    }

    100% {
       background-position: 0% 0%;

    }
}